doctype html
html
     head
         title= title
         meta(name='viewport', content='width=device-width, initial-scale=1.0')
         link(href='/css/bootstrap.min.css', rel='stylesheet', media='screen')
    body
    .container
        h1 Forgot Password
        p.lead Change your password

        -if(error)
            p#note #{error}
        form(method='POST')
            .form-group
                label() Email
                input.form-control(type='text', name='email',style='max-width: 300px;', autofocus)

            button.btn.btn-primary(type='submit') Reset Password
            &nbsp;
            a(href='../')
                button.btn.btn-default-white(type='button') Cancel