doctype html
html
    head
        title= title
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(href='/css/bootstrap.min.css', rel='stylesheet', media='screen')
    body
    .container
        h1 Tapio
        //- a(href="/") Go home
        //- br
        //- a(href="/ping") Ping
        //- br
        //- br

        if(!user)
            p.lead Control panel
            a(href="/login") login
            br
            a(href='/register') register
            br
        if(user)
            p.lead Control panel of: !{user.username}

            if(user.token === "null")
                p No token found

            if(user.token !== "null")
                log('token: ' + user.token)
                p Your token is: !{user.token}

            a(href='/logout')
                button.btn.btn-danger(type='button') Logout
            //- a(href='/logout') logout

    script(src='http://code.jquery.com/jquery.js')
    script(src='js/bootstrap.min.js')
